---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


Xuefei Wang, Yanhan Ren, Shi Qiu, Fan Zhang, Xueao Li, Junfeng Gao*, Weiwei Gao*, and Jijun Zhao*. Cluster sliding ferroelectricity in trilayer Quasi-Hexagonal C_60. npj Computational Materials 11.1 (2025): 5.

Xueao Li+, Fan Zhang+, Xuefei Wang, Weiwei Gao*, and Jijun Zhao*. Rich structural polymorphism of monolayer polymeric C_60 from cluster rotation. Physical Review Materials 7.11 (2023): 114001. 

Yunsong Liu, Yanlong Liu, Xuefei Wang, Nan Xia, Guifang Xu, Yi Wang, Haifeng Wang*, Weiwei Gao*, Jijun Zhao*. Robust altermagnetism and compensated ferrimagnetism in MnPX3-based (X = S or Se) heterostructures, Under review by Physical Review Materials. (2025) 

Qingyun Chen, Chen Zeng, Ming Xu, Yuan Huan, Huiyi  Lv, Zaihong Wang, Xuefei Wang. Effect of SiNx interlayer thickness on adhesion and friction properties of diamond-like carbon films. Diamond and related materials, 94 (2019): 186-193.



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



